<h1>Crea tu propio Deck</h1>

<form action= "/create_deck" method="post">
	<label for="name">Name</label><br>
	<input type="text" name="name"><br>
	<hr>
	<label for="name">Pregunta 1</label><br>
	<input type="text" name="question_1"><br>
	<label for="respuesta_1">Respuesta</label><br>
	<input type="text" name="answer_1"><br>
	<hr>
	<label for="name">Pregunta 2</label><br>
	<input type="text" name="question_2"><br>
	<label for="respuesta_2">Respuesta</label><br>
	<input type="text" name="answer_2"><br>
	<hr>
	<label for="name">Pregunta 3</label><br>
	<input type="text" name="question_3"><br>
	<label for="respuesta_3">Respuesta</label><br>
	<input type="text" name="answer_3"><br>
	<hr>
	<label for="name">Pregunta 4</label><br>
	<input type="text" name="question_4"><br>
	<label for="respuesta_5">Respuesta</label><br>
	<input type="text" name="answer_4"><br>
	<hr>
	<label for="name">Pregunta 5</label><br>
	<input type="text" name="question_5"><br>
	<label for="respuesta_5">Respuesta</label><br>
	<input type="text" name="answer_5"><br>
	<input type="submit" name="submit" value="Crear">
</form>